@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Paytone+One&display=swap');

.header-container {
    background-color: #A2A2A2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: white;
    font-family:"Paytone One", sans-serif;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
}

/* ---Landing body css--- */
.main-content {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-card-container, .right-card-container {
    margin: 3rem;
}

.info-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #729CA2;
    padding: 3rem 3rem 3rem 0;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    margin-right: 5rem;
    margin-left: 5rem;
}

.img-container {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.action-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
    text-align: right;
}

.info-card button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: "Paytone One", sans-serif;
    color: #FF893B;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.info-card button:hover {
    border: none;
    color: #465461;
    background-color: #FF893B;
    border-radius: 5px;
}

/* ---Info container css--- */
.info-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.info-img-container {
    grid-area: 1 / 1 / 2 / 4;
    background-color: #C4DCDF;
}

.info-text-container {
    grid-area: 1 / 4 / 2 / 6;
    background-color: #729CA2;
}

.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Paytone One", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
}

.info-body {
    margin: 2rem;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    text-align: left;
    color: #ECF3F4;
}

.info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.info-btn button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: "Paytone One", sans-serif;
    color: #FF893B;
    font-size: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.info-btn button:hover {
    border: none;
    color: #465461;
    background-color: #FF893B;
    border-radius: 5px;
}

/* ---footer css--- */
.landing-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #1C1C1C;
    color: #FFFFFF;
}

.left-footer {
    grid-area: 1 / 1 / 2 / 2;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-right: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.right-footer {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.left-footer p, .right-footer p {
    margin: 3px;
    padding: 0;
    display: inline-block;
}

.left-footer .link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.left-footer .link:hover {
    text-decoration: underline #FFFFFF;
}

/* responsivness */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .left-card-container, .right-card-container {
        margin: 1.5rem 0;
    }

    .info-card {
        padding: 2rem;
        width: 90%; 
        max-width: 400px;
    }

    .info-card button {
        font-size: 20px;
        padding: 8px 15px;
    }
}
